.container {
  padding: 0 20px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.t-c {
  @include viewports {
    text-align: center;
  }
}
.t-l {
  @include viewports {
    text-align: left;
  }
}
.fx {
  @include viewports {
    display: flex;
  }
}
.fx-col {
  @include viewports {
    flex-direction: column;
  }
}
.fx-col-r {
  @include viewports {
    flex-direction: column-reverse;
  }
}
.fx-cv {
  @include viewports {
    align-items: center;
  }
}
.fx-ch {
  @include viewports {
    justify-content: center;
  }
}
.fx-sa {
  @include viewports {
    justify-content: space-around;
  }
}

.mb{
  @include sizes(margin, (bottom));
  &-20{
    margin-bottom: 80px;
    @include breakpoint(phone){
      margin-bottom: 40px;
    }
  }
}
.p{
  &b{
    @include sizes(padding, (bottom));
  }
  &t{
    @include sizes(padding, (top));
  }
}
.mh-a{
  @include viewports {
    margin-left: auto;
    margin-right: auto;
  }
}
.mr-a{
  @include viewports {
    margin-right: auto;
  }
}
.ml-a{
  @include viewports {
    margin-left: auto;
  }
}
.mh-reset{
  @include viewports {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width:768px){
  .phone-hide{
    display: none;  
  }
}
@media (min-width:768px){
  .phone-only{
    display: none;  
  }
}
@media (max-width:1024px){
  .desktop-only{
    display: none;  
  }
}