$pink: rgb(255, 82, 191);
$light-pink: rgb(255, 143, 216);
$light-red: rgb(255, 66, 66);
$color-white: rgb(255, 255, 255);
$dark-cyan: rgb(0, 37, 46);
$pale-blue: rgb(245, 250, 255);

$desktop:1024;
$phone:768;